package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import ${dtoPackage}.${entity}Dto;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import javax.servlet.http.HttpServletResponse;
#if(${AccountToken})
import sungo.cms.entity.AccountToken;
#end
#if(${SysAccountToken})
import sungo.manager.entity.SysAccountToken;
#end


/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    ${entity} add(${entity}Dto ${entityLowerName}Dto,#if(${AccountToken}) AccountToken token#elseif(${SysAccountToken}) SysAccountToken token#else AccountToken token#end);

    ${entity} update(${entity}Dto ${entityLowerName}Dto,#if(${AccountToken}) AccountToken token#elseif(${SysAccountToken}) SysAccountToken token#else AccountToken token#end);

    ${entity} delete(${entity}Dto ${entityLowerName}Dto,#if(${AccountToken}) AccountToken token#elseif(${SysAccountToken}) SysAccountToken token#else AccountToken token#end);

    IPage<${entity}> queryPage(${entity} ${entityLowerName}, Page<${entity}> ${entityLowerName}Page);

    boolean export(${entity}Dto ${entityLowerName}Dto, HttpServletResponse response);
}
#end
