<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>yyc_css</contextName>
    <property name="log.path" value="logs/"/>

    <!--输出到info-->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/css-info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [ %thread ] - [ %-5level ] [ %logger{36} : %line ] - %msg%n </pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印INFO日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--输出到error-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/css-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [ %thread ] - [ %-5level ] [ %logger{36} : %line ] -  %msg%n </pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印ERROR日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--输出到warn-->
    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/css-warn-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [ %thread ] - [ %-5level ] [ %logger{36} : %line ] - %msg%n </pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印WARN日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="org.redisson" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.lettuce" level="INFO"/>
    <logger name="springfox.documentation" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>
    <logger name="com.alibaba" level="INFO"/>
    <logger name="org.tio.cluster" level="WARN"/>

    <!--分别设置对应的日志输出节点 -->
    <root level="info">
        <appender-ref ref="info"/>
        <appender-ref ref="error"/>
        <appender-ref ref="warn"/>
    </root>

</configuration>